
/*
$ux-video-icon-bg-color-onhover: $primary-color;
$ux-video-icon-color-default: $primary-color;
$ux-video-overlay-bg-color-onhover: $primary-color;
$ux-video-strip-color: $primary-color;
$ux-video-strip-height: 16px;
$ux-video-box-shadow: -1px 1px 9px 2px red;
$ux-video-info-box-shadow: -1px 1px 9px 2px red;
*/