$primary-color: #165172;
$login-primary-color: #124764;
$accent-color: #92d400;
$accenttwo-color: #007ea3;
$secondary-color: #3f92a9;
$tertiary-color: color.scale(#92d400, $lightness: -20%);
$text-color: #333;
$box-shadow: 0px 4px 20px rgba($primary-color, 0.14); //rgba(189, 69, 16, 0.14);
$error-alert: #B91C1C;
$gray: #fbfbfb;
$cookie-accept-color:#0073e6;